* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
}

.justify-end {
  justify-content: end;
}

.loginMainContainer{
  background-color: #fff;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border: 1px solid #ddd;
  padding: 20px;
 
}

